#title {
font-size: 36px;
font-weight: bold;
text-align: center;
margin-top: 50px;
}

#tag_line {
font-size: 30px;
font-weight: bold;
text-align: center;
margin-top: 20px;
}

#signup-btn, #login-btn {
background-color: #4CAF50;
color: white;
padding: 14px 20px;
border: none;
border-radius: 25px;
font-size: 16px;
cursor: pointer;
display: block;
margin: 0 auto;
margin-top: 20px;
}

#signup-btn:hover, #login-btn:hover {
background-color: #3e8e41;
}



